@font-face {
    font-family: 'digital-7';
    src: url('./assets/fonts/digital-7.ttf') format('truetype')
}

body {
    margin: 0;
    padding: 0;
    background: #B9B9B9;
    font-family: 'digital-7';
    font-size: 1.65rem;
    color: #777777;
}

canvas {
    margin: 0;
    padding: 0;
    
}

.container {
    width: 250px;
    margin: 50px auto;
    
}